body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    text-align: center;
}

.contact {
    padding: 40px;
}

.Cont-btn {
    background-color: #66ff00;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

h3 span {
    color: #a3ff75;
}

.btn {
    background-color: #66ff00;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.btn img {
    width: 18px;
    height: 18px;
}

.number {
    background-color: #30FC00;
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.number img {
    width: 18px;
    height: 18px;
}

input {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
